body {
    background-color: whitesmoke;
    padding: 5px;
}

.gallery {
    display: flex;
}

.galleryItem {
    padding: 10px;
    color: blue;
}

.galleryItem img {
    padding: auto;
    width: 200px;
}

.section {
    padding: 10px;
}

.header {
    color: blueviolet;
    margin: 10px 5px;
    padding: 10px;
    background-color: paleturquoise;
}

.header img {
    width: 200px;
}
